* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --background-1: hsla(37, 31%, 5%, 1);
    --tipografia-1: hsla(0, 0%, 100%, 1);
}

body {
    font-size: 1.6rem;
}

.header-bg {
    background-color: var(--background-1);
}

.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 112.8rem;
    padding: 3.2rem 0;
}

.navMenu {
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    gap: 4.0rem;
}

.navMenu a {
    text-decoration: none;
    color: var(--tipografia-1);
    font-size: 1.8rem;
    font-weight: Medium;
    line-height: 3.2rem;
}